@{
    ViewData["Title"] = "";

}
<link href="~/css/site.css" rel="stylesheet" />

<div class="capa-index">
        <div class="capa">
            <div class="texto-capa">
                <h1>Etec Prof. Basilides de Godoy</h1>

                <a href="" class="btn btn-custom btn-roxo btn-lg">Exemplos</a>

                <a href="" class="btn  btn-custom btn-branco btn-lg">Exemplos</a>

            </div>
        </div>


    <section id="servicos">
        <div class="container">
            <div class="row">

                <!--serviços-->
                <div class="col-md-6">
                    <img src="~/imagens/img.png" class="etidar-img" class="img-responsive">
                </div>

                <div class="col-md-6">

                    <h2>O que é Etec?</h2>
                    <p>
                        As Escolas Técnicas Estaduais (ETECs) são instituições de ensinos
                        técnico, médio e técnico integrado ao médio (ETIM), pertencentes ao
                        Centro Estadual de Educação Tecnológica Paula Souza (CEETEPS), autarquia
                        da Secretaria de Desenvolvimento Econômico, Ciência e Tecnologia (SDECTI)
                        do estado de São Paulo.
                    </p>
                    <h3>História</h3>
                    <p>
                        Na década de 1960 houve reuniões entre o Conselho Educacional para a
                        criação de instituições que atendessem à necessidade do acompanhamento
                        profissional e expansão industrial de São Paulo. A partir de 1967, quando
                        Roberto Costa de Abreu Sodré assumiu o governo do estado, foi que a ideia
                        de se criarem escolas técnicas foi se tornando cada vez mais concreta. Em 6 de outubro
                        de 1969, o Centro Paula Souza iniciou suas atividades. Atualmente são 198 escolas, que
                        ministram cursos técnicos e de ensino médio em 150 municípios do estado. As ETEC estão
                        entre as melhores escolas públicas do Brasil, quando comparadas com outras escolas de
                        ensino médio.
                    </p>

                </div>
            </div>
        </div>
    </section>
    <section id="recursos">
        <div class="container">
            <div class="row">

                <!--recursos-->
                <div class="col-md-4">

                    <h2>Fácil</h2>
                    <h3>Buscar</h3>
                    <p>Já sabe o que quer estudar? Então venha estudar conosco e te explicamos no caminho.</p>
                    <h3>Navegar</h3>
                    <p>Veja os novos cursos que está bombando na Etec.</p>
                    <h3>Descobrir</h3>
                    <p>Venha descobrir suas habilidades no mundo da tecnologia.</p>

                </div>
            </div>

        </div>
    </section>

    <!-- Rodape -->
    <footer id="rodape">

        <div class="row">

            <div class="col-md-2">
                <span class="img-logo"></span>
            </div>
            <div class="rodape">
                <div class="col-md-2">
                    <h4>Cursos</h4>
                    <ul class="nav">
                        <li>Administração</li>
                        <li>Eletronica</li>
                        <li>Ensino Médo</li>
                        <li>Desenvolvimento de Sistemas</li>
                        <li>Logística</li>
                        <li>Mecânica</li>
                        <li>Mecatrônica</li>
                        <li>RH</li>
                        <li>Desenvolvimento de Sistemas (ETIM)</li>
                        <li>Logística (ETIM)</li>
                        <li>Mecânica (ETIM)</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h4>Contato</h4>
                    <ul class="nav">
                        <li>Phone: (11) 3834-4111</li>
                        <li>secretaria@basilides.com.br</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h4>Endereço</h4>
                    <ul class="nav">
                        <li>Rua Guaipá, 678</li>
                        <br>
                        <li>Vila Leopoldina - São Paulo/SP</li>
                        <br>
                        <li>CEP: 05089-000</li>

                        <a href="https://www.google.com.br/maps/place/ETEC+Professor+Basilides+de+Godoy./-23.5209204,-46.7300468,17z/data=!3m1!4b1!4m5!3m4!1s0x94cef8c1d371ec31:0x671c9325c275132e!8m2!3d-23.5209253!4d-46.7278581" target="_blank"><img src="~/imagens/mapa.png" class="mapa"></a>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <ul class="nav">
                    <li class="item-rede-social"> <a href="https://www.facebook.com/etecbasilides/" target="_blank"> <img src="~/imagens/facebook.png"> </a> </li>
                    <li class="item-rede-social"><a href="https://twitter.com/etecbasilides" target="_blank"> <img src="~/imagens/twitter.png"> </a></li>
                    <li class="item-rede-social"><a href="https://www.instagram.com/etecbasilides/" target="_blank"><img src="~/imagens/instagram.png"></a></li>
                </ul>
            </div>
        </div><!--/row-->
            <p style="text-align:center; padding: 50px 0 0 0;">&copy; 2018 - Basilides de Godoy</p>
    </footer>
</div>